---
---
<html>
  <head>
    <title>Artist Profile</title>
  </head>
  <body>
    <h1>Artist Profile</h1>
    <ul>
      <li><a href="https://spotify.com">Spotify</a></li>
      <li><a href="https://music.apple.com">Apple Music</a></li>
      <li><a href="https://youtube.com">YouTube</a></li>
    </ul>
  </body>
</html>
