#changelog-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--black-90);
  color: white;
  padding: 20px;
  border-radius: 10px;
  /* @tweakable The z-index for the changelog modal. */
  z-index: 2100;
  width: 90%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  display: none;
  box-shadow: 0 0 20px var(--black-50);
  pointer-events: auto;
}

#close-changelog {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: var(--white-70);
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

#changelog-content {
  white-space: pre-wrap;
}

/* @tweakable Position of the changelog button on the screen. */
#changelog-button {
  position: fixed;
  /* @tweakable The bottom position of the changelog button. */
  bottom: 370px;
  /* @tweakable The right position of the changelog button. */
  right: 20px;
  z-index: 1000;
}