/* @tweakable Position and size of the movement joystick on mobile. */
#joystick-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: auto;
  width: 150px;
  height: 150px;
  z-index: 1000;
  touch-action: none;
  /* @tweakable The background color of the joystick area. */
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  display: none;
}

#right-side-touch-area {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 999;
  touch-action: none;
  display: none;
}

/* @tweakable Position and size of the camera joystick on mobile. */
#camera-joystick-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 150px;
    z-index: 1000;
    touch-action: none;
    /* @tweakable The background color of the camera joystick area. */
    background-color: var(--white-20);
    border-radius: 50%;
}

/* @tweakable Position and size of the jump button on mobile. */
#jump-button {
  position: fixed;
  bottom: 30px;
  right: 180px;
  width: 80px;
  height: 80px;
  background-color: var(--white-50);
  border-radius: 50%;
  display: none;
  z-index: 1000;
  touch-action: none;
  text-align: center;
  line-height: 80px;
  font-weight: bold;
  color: #333;
  user-select: none;
}