#video-settings-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--black-90);
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  max-height: 80vh;
  display: none;
  flex-direction: column;
  box-shadow: 0 0 20px var(--black-50);
  z-index: 2000;
}

#video-settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#close-video-settings {
  width: 20px;
  height: 20px;
  background-color: var(--white-70);
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

#video-settings-content {
  overflow-y: auto;
  max-height: 70vh;
}
